html,
body {
  height: 100%;
}
*:not(input):not(textarea) {
  -webkit-user-select: none;
  /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none;
  /* disable the IOS popup when long-press on a link */
}
#uiview {
  height: 100%;
}
.login-page {
  min-height: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  background-color: #ffffff;
}
.login-page > .row {
  padding: 0 0;
  margin: 0;
}
.login-page .big-logo .logo {
  width: 225px;
  height: 135px;
  background-image: url("../img/ui/ui.png");
  margin: 95px auto;
}
.login-page .header-block {
  margin: 10px 0;
}
.login-page .header-block .content {
  padding: 10px;
  text-align: center;
  background-color: #3c6397;
  color: #e1e1e1;
}
.login-page .login-form {
  color: #959595;
}
.login-page .login-form .form-group {
  margin-left: 0;
  margin-right: 0;
}
.login-page .login-form .col-xs-3,
.login-page .login-form .col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}
.login-page .login-form label {
  height: 50px;
  line-height: 50px;
  padding-left: 10px !important;
}
.login-page .login-form input {
  border-radius: 0;
  border: none;
  height: 50px;
  padding-left: 50px;
  -webkit-box-shadow: none;
}
.login-page .login-form input:focus {
  border: 1px solid #cccccc;
}
.login-page .login-help-block a {
  padding-right: 10px;
}
.login-page .login-btn {
  border: none;
  border-top: 1px solid #959595;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 100;
  padding: 10px;
  width: 100%;
  background-color: #3c6397;
  font-size: 20px;
  color: #e1e1e1;
}
.login-page .login-btn:hover {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.header.container {
  margin: 0;
  padding: 0;
}
.header.container > .row {
  padding: 0;
  margin: 0 0 0 -15px;
}
.header .logo {
  height: 50px;
  background-image: url("../img/ui/ui.png");
  background-position: 300px -3px;
}
.header .nav-btn {
  background-color: #3c6397;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: 900;
}
.header .nav-btn.active {
  height: 55px;
  background-color: #fec24d;
  -webkit-box-shadow: inset 5px 5px 15px 0px #545454;
  -moz-box-shadow: inset 5px 5px 15px 0px #545454;
  box-shadow: inset 5px 5px 15px 0px #545454;
}
.profile-page {
  background-color: #cccccc;
  color: #959595;
  padding-top: 55px;
  min-height: 100%;
  margin: 0 0;
}
.profile-page .row {
  padding: 0 0;
}
.profile-page .profile-field {
  margin-top: 10px;
  padding: 15px;
  background-color: #e1e1e1;
}
.profile-page .profile-field.row {
  margin-right: 0;
  margin-left: 0;
}
.queue-page {
  padding-top: 55px;
  min-height: 100%;
  margin: 0 0;
  background-color: #cccccc;
  color: #959595;
}
.queue-page > .row {
  padding: 0 0;
  margin: 0;
}
.queue-page .queue-field input {
  border-radius: 0;
  background-color: #e1e1e1;
  color: #3c6397;
  height: 50px;
  padding-left: 50px;
}
.queue-page .queue-footer {
  border: none;
  border-top: 1px solid #959595;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 100;
  border-top: 2px solid #ffffff;
  width: 100%;
  font-size: 20px;
}
.queue-page .queue-footer:hover {
  text-decoration: none;
}
.queue-page .queue-footer .reg-btn {
  padding: 10px;
  background-color: #3c6397;
  color: #e1e1e1;
}
.queue-page .queue-footer .cansel-btn {
  padding: 10px;
  background-color: #e1e1e1;
  color: #959595;
}
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: gray;
  z-index: 150;
}
.pop-up .wrapper {
  padding: 75px 50px;
  height: 100%;
}
.pop-up .wrapper .container {
  border: 1px solid #cccccc;
}
