html,
body {
  height: 100%;
}
#uiview {
  height: 100%;
}
.loading-layer {
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 200;
  position: fixed;
  top: 0;
  opacity: .7;
}
.ng-hide {
  display: none !important;
}
.ng-show {
  display: block !important;
}
.login-page {
  min-height: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  background-color: #ffffff;
}
.login-page > .row {
  padding: 0 0;
  margin: 0;
}
.login-page .big-logo .logo {
  width: 225px;
  height: 135px;
  background-image: url("../img/ui/ui.png");
  margin: 95px auto;
}
.login-page .header-block {
  margin: 10px 0;
}
.login-page .header-block .content {
  padding: 10px;
  text-align: center;
  background-color: #3c6397;
  color: #e1e1e1;
}
.login-page .login-form {
  color: #959595;
}
.login-page .login-form .form-group {
  margin-left: 0;
  margin-right: 0;
}
.login-page .login-form .col-xs-3,
.login-page .login-form .col-xs-9 {
  padding-left: 0;
  padding-right: 0;
}
.login-page .login-form label {
  height: 50px;
  line-height: 50px;
  padding-left: 10px !important;
}
.login-page .login-form input {
  border-radius: 0;
  border: none;
  height: 50px;
  padding-left: 50px;
  -webkit-box-shadow: none;
}
.login-page .login-form input:focus {
  border: 1px solid #cccccc;
}
.login-page .login-help-block .link {
  color: #3c6397;
  text-decoration: underline;
  padding-right: 10px;
}
.login-page .login-btn {
  border: none;
  border-top: 1px solid #959595;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 100;
  padding: 10px;
  width: 100%;
  background-color: #3c6397;
  font-size: 20px;
  color: #e1e1e1;
}
.login-page .login-btn:hover {
  text-decoration: none;
}
.restore-page.modal-header {
  background-image: url("../img/ui/icon_refresh.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.header.container {
  margin: 0;
  padding: 0;
}
.header.container > .row {
  padding: 0;
  margin: 0 0 0 -15px;
}
.header .logo {
  height: 50px;
  background-image: url("../img/ui/ui.png");
  background-position: 300px -3px;
}
.header .nav-btn {
  background-color: #3c6397;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  cursor: pointer;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: 900;
}
.header .nav-btn.active {
  height: 55px;
  background-color: #fec24d;
  box-shadow: 1px 2px 6px -3px #000000 inset;
  border-bottom: 1px solid #e1e1e1;
}
.settings-page {
  background-color: #cccccc;
  color: #959595;
  padding-top: 55px;
  min-height: 100%;
  margin: 0 0;
}
.settings-page .row {
  padding: 0 0;
}
.settings-page .settings-field {
  margin-top: 10px;
  padding: 15px;
  padding-left: 50px;
  background-color: #e1e1e1;
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
.settings-page .settings-field.row {
  margin-right: 0;
  margin-left: 0;
}
.settings-page .settings-field.language {
  background-image: url("../img/ui/icon_language.png");
}
.settings-page .settings-field.about {
  background-image: url("../img/ui/icon_about.png");
}
.settings-page .settings-field.profile {
  background-image: url("../img/ui/icon_personal_data.png");
}
.settings-page .settings-field.mailto {
  background-image: url("../img/ui/icon_message.png");
}
.settings-page .settings-field.license {
  background-image: url("../img/ui/icon_agreement.png");
}
.settings-page .settings-field.city {
  background-image: url("../img/ui/icon_location.png");
}
.settings-page .settings-field.city .text-right {
  color: #3c6397;
}
.settings-page .settings-field .first-col-fix {
  padding-left: 0;
}
.settings-page .settings-field a {
  display: block;
  color: #959595;
  text-decoration: none;
}
.settings-page .settings-field select {
  border: none;
  color: #3c6397;
  background-color: #e1e1e1;
  -webkit-box-shadow: none;
}
.profile-page.modal-header {
  background-image: url("../img/ui/icon_personal_data.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
.profile-page label {
  padding-left: 10px;
}
.sities-page input {
  border-radius: 0;
  border: none;
  height: 50px;
  padding-left: 50px;
  background-color: #e1e1e1;
  color: #3c6397;
  -webkit-box-shadow: none;
  background-image: url("../img/ui/icon_name.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
}
.sities-page input:focus {
  border: 1px solid #cccccc;
}
.sities-page .city-item {
  background-color: #e1e1e1;
  margin-top: 15px;
  padding: 15px;
}
.sities-page .city-item.selected {
  font-weight: 600;
}
.agreement-page.modal-body {
  overflow: scroll;
  height: 300px;
}
.queue-page {
  padding-top: 55px;
  min-height: 100%;
  margin: 0 0;
  padding-top: 75px;
  background-color: #cccccc;
  color: #959595;
}
.queue-page > .row {
  padding: 0 0;
  margin: 0;
}
.queue-page .queue-field.col-xs-6 {
  padding: 0;
}
.queue-page .queue-field.time {
  padding-left: 5px;
}
.queue-page .queue-field label {
  padding-left: 10px;
}
.queue-page .queue-field input {
  border-radius: 0;
  border: none;
  height: 50px;
  padding-left: 50px;
  background-color: #e1e1e1;
  color: #3c6397;
  -webkit-box-shadow: none;
  background-image: url("../img/ui/icon_name.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
}
.queue-page .queue-field input:focus {
  border: 1px solid #cccccc;
}
.queue-page .price-block {
  margin-top: 50px;
  background-color: #fec24d;
  color: #fff;
  height: 60px;
  padding-left: 70px;
}
.queue-page .price-block .price-block-title {
  font-size: 16px;
  line-height: 20px;
  width: 100px;
  padding: 10px 0;
}
.queue-page .queue-footer {
  border: none;
  border-top: 1px solid #959595;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 100;
  border-top: 2px solid #ffffff;
  width: 100%;
  font-size: 20px;
}
.queue-page .queue-footer:hover {
  text-decoration: none;
}
.queue-page .queue-footer .reg-btn {
  padding: 10px;
  background-color: #3c6397;
  color: #e1e1e1;
}
.queue-page .queue-footer .cansel-btn {
  padding: 10px;
  background-color: #e1e1e1;
  color: #959595;
}
.time-page {
  color: #3c6397;
}
.time-page .time-hero {
  font-size: 50px;
  padding: 10px;
}
.time-page .time-item {
  background-color: #e1e1e1;
  margin-top: 15px;
  padding: 15px;
}
.date-page.modal-header {
  padding-left: 0 !important;
}
.date-page.modal-header .modal-title {
  text-transform: uppercase;
  font-size: 20px;
}
.date-page.modal-body .date-hero {
  font-size: 75px;
  padding: 10px;
  color: #3c6397;
}
.date-page.modal-body .date-hero-small {
  font-size: 25px;
  line-height: 50px;
  display: inline-block;
  padding: 25px 0;
  color: #959595;
}
.date-page.modal-body table {
  width: 100%;
}
.queue-list-page {
  padding-top: 55px;
  min-height: 100%;
  margin: 0 0;
  padding-top: 75px;
  background-color: #cccccc;
  color: #959595;
}
.queue-list-page > .row {
  padding: 0 0;
  margin: 0;
}
.queue-list-page .item {
  background-color: #e1e1e1;
  height: 90px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  color: #3c6397;
  background-image: url("../img/ui/icon_soon.png");
  background-position: 10px 25px;
  background-repeat: no-repeat;
}
.queue-list-page .item.finished {
  color: #c2c2c2;
}
.queue-list-page .item .content-block {
  padding: 5px 15px 5px 60px;
}
.queue-list-page .item .edit-link {
  background-color: #c2c2c2;
  background-image: url("../img/ui/icon_more.png");
  background-position: 25px 35px;
  background-repeat: no-repeat;
  height: 100%;
}
.queue-list-page .item .edit-link a {
  width: 100%;
  height: 100%;
  display: block;
}
.modal-dialog .modal-content {
  border-radius: 0;
}
.modal-dialog .modal-content .modal-header {
  background-color: #FFFFFF;
  padding-left: 60px;
}
.modal-dialog .modal-content .modal-header h3 {
  font-size: 16px;
  color: #3c6397;
}
.modal-dialog .modal-content .modal-body {
  background-color: #cccccc;
}
.modal-dialog .modal-content .modal-body .modal-body_text {
  display: inline-block;
  padding: 20px 0;
  font-size: 14px;
  color: #959595;
}
.modal-dialog .modal-content .modal-body input {
  border-radius: 0;
  border: none;
  height: 50px;
  padding-left: 50px;
  background-color: #e1e1e1;
  color: #3c6397;
  -webkit-box-shadow: none;
  background-image: url("../img/ui/icon_name.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
}
.modal-dialog .modal-content .modal-body input:focus {
  border: 1px solid #cccccc;
}
.modal-dialog .modal-content .modal-footer {
  height: 50px;
  padding: 0;
  text-align: center;
  border-top: none;
}
.modal-dialog .modal-content .modal-footer .btn-apply-50 {
  padding: 10px;
  width: 50%;
  float: left;
  height: 50px;
  font-size: 20px;
  background-color: #3c6397;
  color: #e1e1e1;
}
.modal-dialog .modal-content .modal-footer .btn-apply-50:hover {
  text-decoration: none;
}
.modal-dialog .modal-content .modal-footer .btn-apply-100 {
  padding: 10px;
  width: 50%;
  float: left;
  height: 50px;
  font-size: 20px;
  width: 100%;
  background-color: #3c6397;
  color: #e1e1e1;
}
.modal-dialog .modal-content .modal-footer .btn-apply-100:hover {
  text-decoration: none;
}
.modal-dialog .modal-content .modal-footer .btn-cancel-50 {
  padding: 10px;
  width: 50%;
  float: left;
  height: 50px;
  font-size: 20px;
  background-color: #e1e1e1;
  color: #959595;
}
.modal-dialog .modal-content .modal-footer .btn-cancel-50:hover {
  text-decoration: none;
}
.modal-dialog .modal-content .modal-footer .btn-apply-yellow {
  padding: 10px;
  width: 50%;
  float: left;
  height: 50px;
  font-size: 20px;
  background-color: #fec24d;
  color: #3c6397;
  font-size: 16px;
  width: 100%;
}
.modal-dialog .modal-content .modal-footer .btn-apply-yellow:hover {
  text-decoration: none;
}
.modal-dialog input {
  z-index: 1400;
}
#user-login {
  background-image: url("../img/ui/icon_name.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/ui/icon_login.png");
}
#user-pwd {
  background-image: url("../img/ui/icon_name.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/ui/icon_password.png");
}
#restore-pass {
  background-image: url("../img/ui/icon_name.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/ui/icon_at.png");
}
#organization {
  background-image: url("../img/ui/icon_name.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/ui/icon_company.png");
}
#service {
  background-image: url("../img/ui/icon_name.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/ui/icon_services.png");
}
#date {
  background-image: url("../img/ui/icon_name.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/ui/icon_calendar.png");
}
#time {
  background-image: url("../img/ui/icon_name.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-image: url("../img/ui/icon_time.png");
}
