// const
// Brand colors
@brand-blue:   #3c6397;
@brand-yellow: #fec24d;
@brand-gray-1: #e1e1e1;
@brand-gray-2: #cccccc;
@brand-gray-3: #c2c2c2;
@brand-gray-4: #959595;

// z-index
@z-float-btn: 100;
@z-header: 100;
@z-pop-up-window: 150;
@z-loading-layer: 200;

//sizes
@header-height: 55px;

html, body{
  height: 100%;
}
*:not(input):not(textarea) {
  //-webkit-user-select: none; /* disable selection/Copy of UIWebView */
  //-webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
#uiview {
  height: 100%;
}

.loading-layer {
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: @z-loading-layer;
  position: fixed;
  top: 0;
  opacity: .7;
}

@import "tools.less";
@import "login.less";
@import "header.less";
@import "profile.less";
@import "queue.less";
@import "queueLust.less";
@import "modal.less";
@import "inputs.less";