.input-logo() {
  background-image: url("../img/ui/icon_name.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
#user-login {
  .input-logo();background-image: url("../img/ui/icon_login.png");
}
#user-pwd {
  .input-logo();background-image: url("../img/ui/icon_password.png");
}
#restore-pass {
  .input-logo();background-image: url("../img/ui/icon_at.png");
}
#organization {
  .input-logo();background-image: url("../img/ui/icon_company.png");
}
#center {
  .input-logo();background-image: url("../img/ui/icon_company.png");
}
#service {
  .input-logo();background-image: url("../img/ui/icon_services.png");
}
#date {
  .input-logo();background-image: url("../img/ui/icon_calendar.png");
}
#time {
  .input-logo();background-image: url("../img/ui/icon_time.png");
}
#firstname {
  .input-logo();background-image: url("../img/ui/icon_name.png");
}
#lastname {
  .input-logo();background-image: url("../img/ui/icon_surname.png");
}
#phone {
  .input-logo();background-image: url("../img/ui/icon_phone.png");
}
#email {
  .input-logo();background-image: url("../img/ui/icon_at.png");
}
#card-number {
  .input-logo();background-image: url("../img/ui/icon_card_number.png");
}
#card-exp {
  .input-logo();background-image: url("../img/ui/icon_term_card.png");
}
#card-cvv {
  .input-logo();background-image: url("../img/ui/icon_CVV_card.png");
}
#password {
  .input-logo();background-image: url("../img/ui/icon_password.png");
}
#password2 {
  .input-logo();background-image: url("../img/ui/icon_password.png");
}
#time-left {
  .input-logo();background-image: url("../img/ui/icon_time_left.png");
}

label {
  font-size: 16px;
}
// validation
form {
  &.ng-invalid {
    border: none !important;
  }
  .ng-invalid {
    border: inherit !important;
    &.ng-touched {
      border: 1px solid #ed1c24 !important;
    }
  }
}