// ===================================================================================================================== Settings page
.settings-page {
  background-color: @brand-gray-2;
  color: @brand-gray-4;

  padding-top: @header-height;
  min-height: 100%;
  margin: 0 0; // rm container margins
  .row {
    padding: 0 0; // rm row padding for 100% width fields
  }
  .settings-field {
    &.row {
      margin-right: 0;
      margin-left: 0;
    }
    margin-top: 10px;
    padding: 15px;
    padding-left: 50px;
    background-color: @brand-gray-1;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    &.language{
      background-image: url("../img/ui/icon_language.png");
    }
    &.about{
      background-image: url("../img/ui/icon_about.png");
    }
    &.profile{
      background-image: url("../img/ui/icon_personal_data.png");
    }
    &.mailto{
      background-image: url("../img/ui/icon_message.png");
    }
    &.license{
      background-image: url("../img/ui/icon_agreement.png");
    }
    &.city {
      background-image: url("../img/ui/icon_location.png");
      .text-right {
        color: @brand-blue;
      }
    }

    .first-col-fix {
      padding-left: 0;
    }

    a {
      display: block;
      color: @brand-gray-4;
      text-decoration: none;
    }

    select {
      border: none;
      color: @brand-blue;
      background-color: @brand-gray-1;
      -webkit-box-shadow: none;
    }
  }
}

// ===================================================================================================================== Profile page
.profile-page {
  &.modal-header {
    background-image: url("../img/ui/icon_personal_data.png");
    background-position: 5px 5px;
    background-repeat: no-repeat;
  }
  label {
    padding-left: 10px;
  }
}

// ===================================================================================================================== Cities page
.sities-page {
  input {
    .input-fix();
  }
  .city-item {
    background-color: @brand-gray-1;
    margin-top: 15px;
    padding: 15px;
    &.selected {
      font-weight: 600;
      //color: black;
    }
  }
}


// ===================================================================================================================== Agreement page
.agreement-page {
  &.modal-body {
    overflow: scroll;
    height: 300px;
  }
}