.queue-page {
  .page-fix();
  background-color: @brand-gray-2;
  color: @brand-gray-4;


  .queue-footer {
    .float-btn();
    border-top: 2px solid #ffffff;
    width: 100%;
    font-size: 20px;

    .reg-btn {
      .bottom-btn();
      background-color: @brand-blue;
      color: @brand-gray-1;
    }
    .cansel-btn {
      .bottom-btn();
      background-color: @brand-gray-1;
      color: @brand-gray-4;
    }
  }
}