.queue-list-page {
  .page-fix();
  padding-top: 75px;
  background-color: @brand-gray-2;
  color: @brand-gray-4;

  .item {
    background-color: @brand-gray-1;
    height: 90px;
    padding: 0;
    margin: 0;
    margin-left: -15px;
    margin-top: 15px;
    color: @brand-blue;
    &.finished {
      color: @brand-gray-3;
    }

    .content-block {
      padding: 5px 15px 5px 60px;
    }
    .edit-link {
      background-color: @brand-gray-3;
      height: 100%;
    }
  }
}
