.page-fix() {
  padding-top: @header-height;
  min-height: 100%;
  margin: 0 0; // rm container margins
  >.row {
    padding: 0 0; // rm row padding for 100% width fields
    margin: 0;
  }
}

.input-fix() {
  .border-radius();
  border: none;
  height: 50px;
  padding-left: 50px;
  background-color: @brand-gray-1;
  color: @brand-blue;
  -webkit-box-shadow: none;
  &:focus {
    border: 1px solid @brand-gray-2;
  }
}

.float-btn() {
  border: none;
  border-top: 1px solid @brand-gray-4;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  //background-image: url("/img/ui/ui.png");
  z-index: @z-float-btn;
  &:hover {
    text-decoration: none;
  }
}

.bottom-btn() {
  padding: 10px;
}

.full-bottom-btn() {
  .float-btn();
  .bottom-btn();
  width: 100%;
}

.border-radius() {
  //-webkit-border-radius: 0;
  //-moz-border-radius: 0;
  border-radius: 0;
}

// app ui
.brand-header() {
  font-size: 16px;
  color: @brand-blue;
}

// ng classes
.ng {
  &-hide {
    display: none !important;
  }
  &-show {
    display: block !important;
  }
}
