<div class="modal-header rate-page">
    <h3 class="modal-title">{{L('queue.delete')}}</h3>
</div>
<div class="modal-body rate-page">
    <div ng-click="ok()" class="row">
        <div ng-click="cancel()" class="col-xs-6 text-center" style="color: white">Нет</div>
        <div ng-click="ok()" class="col-xs-6 text-center" style="color: white">Да</div>
    </div>
    <!--<div ng-repeat="star in [1,2,3,4,5]" class="star" ng-click="select(star.$index)"></div>-->
    <!--<div ng-repeat="check in [1,2,3,4,5]" class="check"></div>-->
</div>
<div class="modal-footer rate-page">
    <!--<a href class="btn-apply-100" ng-click="ok()">{{L('app.done')}}</a>-->
</div>