<ng-include src="'modules/core/views/header.html'"></ng-include> <!--TODO:Directive-->
<div class="queue-page">

    <a href>[Back btn]</a>
    <div>[Star rating - view]</div>

    <form class="form-group">
        <div class="form-group queue-field">
            <label for="organization">{{L('queue.organization')}}</label>
            <input id="organization" class="form-control" type="text"/>
        </div>
        <div class="form-group queue-field">
            <label for="service">{{L('queue.service')}}</label>
            <input id="service" class="form-control" type="text"/>
        </div>

        <div class="form-group queue-field col-xs-6">
            <label for="date">{{L('queue.date')}}</label>
            <input ng-click="getDate()" id="date" class="form-control" type="text"/>
        </div>
        <div class="form-group queue-field time col-xs-6">
            <label for="time">{{L('queue.time')}}</label>
            <input ng-click="getTime()" id="time" class="form-control" type="text"/>
        </div>

        <div class="form-group queue-field">
            <label for="time-left">{{L('queue.timeLeft')}}</label>
            <input id="time-left" class="form-control" type="text"/>
        </div>
    </form>

    <div class="queue-footer row">
        <a href>[Check]</a>
        <a href>[Edit]</a>
        <a href>[Rate]</a>
        <a href>[delete]</a>
    </div>

</div>