<ng-include src="'modules/core/views/header.html'"></ng-include> <!--TODO:Directive-->
<div class="queue-page">

    <form class="form-group">
        <div class="form-group queue-field">
            <label for="organization">{{L('queue.organization')}}</label>
            <div id="organization" class="item" type="text" ng-click="getOrganization()">{{organization.name}}</div>
        </div>
        <div class="form-group queue-field">
            <label for="center">{{L('queue.serviceCenter')}}</label>
            <div id="center" class="item" type="text" ng-click="organization.id&&getCenter()">{{center.name}}</div>
        </div>
        <div class="form-group queue-field">
            <label for="service">{{L('queue.service')}}</label>
            <div id="service" class="item" type="text" ng-click="center.id&&getService()">{{service.name}}</div>
        </div>

        <div class="form-group queue-field col-xs-6">
            <label for="date">{{L('queue.date')}}</label>
            <div ng-click="service.id&&getDate()" id="date" class="item" type="text">{{date | date:'dd.MM.yyyy'}}</div>
        </div>
        <div class="form-group queue-field time col-xs-6">
            <label for="time">{{L('queue.time')}}</label>
            <div ng-click="date&&getTime()" id="time" class="item" type="text">{{time | date : 'HH:mm' : '-0000'}}</div>
        </div>
    </form>

    <div class="row">

        <div class="col-xs-12 price-block" ng-show="isFree">
            <div class="price-block-title">{{L('queue.registeringCost')}}</div>
        </div>
        <div class="col-xs-12 price-block">
            <div class="price-block-title free">{{L('queue.free')}}</div>
        </div>

    </div>

    <div class="queue-footer row" >
        <div ng-click="clear(-1)" class="cansel-btn col-xs-6">{{L('queue.canselBtn')}}</div>
        <div ng-click="time&&addQueue()" ng-class="{'reg-btn' : time, 'cansel-btn': !time}" class="reg-btn col-xs-6">{{L('queue.signupBtn')}}</div>
    </div>

</div>