<ng-include src="'modules/core/views/header.html'"></ng-include> <!--TODO:Directive-->

<div class="queue-list-page">
    <div class="row">
        <div ng-repeat="queue in queues" class="col-xs-12 row item">
            <div class="col-xs-10 content-block">
                {{queue.organization}} <br/>
                {{queue.service}} <br/>
                {{queue.date}} {{queue.time}} <br/>
                Estimate 13d 18h
            </div>
            <div class="col-xs-2 edit-link">
                <a ng-href="#!/queue/{{queue.id}}">&nbsp;</a>
            </div>
        </div>
    </div>
</div>