<ng-include src="'modules/core/views/header.html'"></ng-include> <!--TODO:Directive-->

<div class="queue-list-page">
    <div class="row">
        <div ng-repeat="queue in queues | orderBy : ['isArchive','date']" ng-show="!queue.isDelete" class="col-xs-12 row item" ng-class="{'finished' : queue.isArchive}">
            <div class="col-xs-10 content-block">
                <div class="row item-header">
                    <div class="col-xs-5 receipt-num">
                        <span ng-show="queue.receipt.letter">{{queue.receipt.letter}}-</span>{{queue.receipt.num}}
                    </div>
                    <div class="col-xs-7 text-right">
                        {{queue.date | date:'dd.MM.yyyy'}} {{queue.time | date : 'HH:mm' : 'UTC+0200'}} <br/>
                        {{queue.isArchive ? '' : calcEstimate(queue.date)}}
                    </div>
                </div>
                {{queue.organization.name}} <br/>
                {{queue.service.name}} <br/>
            </div>
            <div class="col-xs-2 edit-link">
                <a ng-href="#!/queue/{{queue.id}}">&nbsp;</a>
            </div>
        </div>
    </div>
</div>