<!--<div class="modal-header">
    <h3 class="modal-title">{{L('login.restorePwd')}}</h3>
</div>-->
<div class="modal-body time-page" modal-max-height>
    <div class="time-hero text-center">{{showTime | date : 'HH:mm' : '-0000'}}</div>
    <div class="row">
        <div ng-repeat="item in timeModel" class="col-xs-6">
            <div class="time-item" ng-class="{'selected' : selectedTime === item.time, 'non-allow' : !item.isAllow}" ng-click="item.isAllow&&setTime(item.time)">{{item.time | date : 'HH:mm' : '-0000'}}</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href class="btn-apply-100" ng-click="ok()">{{L('app.done')}}</a>
</div>