<!--<div class="modal-header">
    <h3 class="modal-title">{{L('login.restorePwd')}}</h3>
</div>-->
<div class="modal-body time-page">
    <div class="time-hero text-center">{{showTime}}</div>
    <div class="row">
        <div ng-repeat="hour in timeList" class="col-xs-6">
            <div class="time-item" ng-class="{'selected' : selectedTime === hour}" ng-click="setTime(hour)">{{hour}}:00</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href class="btn-apply-100" ng-click="ok()">{{L('app.done')}}</a>
</div>