<div class="container header" ng-controller="HeaderController">
    <div class="row">
        <div class="col-xs-6 logo"></div>
        <!-- =================== Navigation bar =================== -->
        <div ng-class="{ active : isActive('/queue/add')}" class="col-xs-2 nav-btn add">
            <a class="visible-xs" href="#!/queue/add"></a>
        </div>
        <div ng-class="{ active : isActive('/queue/list')}" class="col-xs-2 nav-btn list">
            <a class="visible-xs" href="#!/queue/list"></a>
        </div>
        <div ng-class="{ active : isActive('/settings')}" class="col-xs-2 nav-btn settings">
            <a class="visible-xs" href="#!/settings"></a>
        </div>
    </div>
</div>