<div class="container login-page">
    <div class="big-logo">
        <div class="logo"></div>
    </div>

    <div class="row header-block">
        <div class="col-xs-6 content" ng-click="registerUser()">{{L('login.signUp')}}</div>
    </div>

    <form name="loginForm" class="form-horizontal login-form">
        <div class="form-group">
            <label for="user-login" class="col-xs-3 control-label">{{L('login.login')}}</label>
            <div class="col-xs-9">
                <input type="text" class="form-control input-lg" id="user-login" ng-model="userLogin"
                       required minlength="10" maxlength="10" placeholder="{{L('login.loginHolder')}}">
            </div>
        </div>
        <div class="form-group">
            <label for="user-pwd" class="col-xs-3 control-label">{{L('login.password')}}</label>
            <div class="col-xs-9">
                <input type="password" class="form-control input-lg" id="user-pwd" ng-model="userPass"
                       required minlength="3" placeholder="{{L('login.passwordHolder')}}">
            </div>
        </div>
    </form>

    <div class="row login-help-block">
        <div class="col-xs-12 text-right">
            <span class="link" ng-click="restorePass()">{{L('login.forgotPwd')}}</span>
        </div>
    </div>
    <!--<a href="#!/settings" class="login-btn">{{L('login.loginButton')}}</a>-->
    <a href class="login-btn" footer-btn ng-click="isValid()&&login()">{{L('login.loginButton')}}</a>
</div>
