<ng-include src="'modules/core/views/header.html'"></ng-include> <!--TODO:Directive-->
<div class="settings-page container">

    <div class="row">
        <div class="col-xs-12 settings-field row language" ng-click="showLangs()">
            <div class="col-xs-6 first-col-fix">{{L('profile.lang')}}</div>
            <div class="col-xs-6 text-right">
                {{userLang}}
            </div>
        </div>

        <div class="col-xs-12 settings-field city row" ng-click="showCities()">
            <div class="col-xs-6 first-col-fix">{{L('profile.city')}}</div>
            <div class="col-xs-6 text-right">
                {{userCity}}
            </div>
        </div>

        <div class="col-xs-12 settings-field profile" ng-click="showProfile()">{{L('profile.userData')}}</div>
        <div class="col-xs-12 settings-field mailto">
            <a href="mailto:ksu.developer@gmail.com">{{L('profile.letterToDev')}}</a>
        </div>
        <div class="col-xs-12 settings-field license" ng-click="showAgreement()">{{L('profile.licenseAgreement')}}</div>
        <div class="col-xs-12 settings-field about" ng-click="showAbout()">{{L('profile.about')}}</div>
    </div>
</div>
